@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Berkeley-blue: #1d3557;
    --cerulean: #457b9dff;
    --Electric-Blue: #0074cc;
    --non-photo-blue: #a8dadcff;
    --honeydew: #f1faeeff;
    --charcoal-gray: #aaaaaa;
    --Gold: #ff9a17;
    --red-pantone: rgb(255, 107, 119);
    --Crimson-Red: #e63946;
    --White-text: #fff;
    --Dark-text: #000011;
    --Muted-gray: #afafaf;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main header{
    height: 60px;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    padding: 10px 14px;
    width: max-content;
    border-radius: 8px;
}

nav ul li:hover{
    background: var(--Crimson-Red);
}

nav ul li:hover a{
    color: var(--honeydew);
}

nav ul li a{
    color: var(--Dark-text);
    font-size: 1rem;
}

.dropdown{
    float: left;
    overflow: hidden;
    transition: all 0.3s ease;
}

.dropbtn{
    background-color: transparent;
    border: none;
}

.dropdownContent{
    top: -100%;
    right: 0;
    position: absolute;
    transition: all 0.3s ease;
}

.dropdownContent.active{
    position: absolute;
    display: block;
    width: 200px;
    height: auto;
    top: 60px;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: var(--honeydew);
    z-index: 1;
}

.dropdownContent a{
    color: var(--Dark-text);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.dropdownContent a:hover{
    transform: scale(0.98);
    color: var(--Crimson-Red);
}

.profile-pic{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

main{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ main{
    width: calc(100% - 240px);
    left: 240px;
}

.sidebar{
    background: var(--Berkeley-blue);
    width: 78px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    height: 100vh;
    transition: 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo-content .logo{
    color: var(--White-text);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.sidebar.active .logo-content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo-content .logo .logo-name{
    font-size: 20px;
    font-weight: 400;
}

.logo-content .logo .logo-name span{
    color: var(--cerulean);
}

.sidebar #btn{
    position: absolute;
    color: var(--White-text);
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    padding: 5px;
    width: 122px;
    max-width: max-content;
    background: var(--White-text);
    line-height: 35px;
    height: max-content;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.3s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li a{
    color: var(--White-text);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: var(--Berkeley-blue);
    background-color: var(--White-text);
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .link-name{
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.sidebar.active .link-name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile-content{
    position: absolute;
    color: var(--White-text);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile-content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: none;
}

.sidebar.active .profile-content .profile{
    background-color: var(--cerulean);
}

.profile-content .profile .profile-details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile-details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .name-details{
    margin-left: 10px;
}

.profile .profile-details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile #log-out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: var(--cerulean);
    transition: all 0.4s ease;
}

.sidebar.active .profile #log-out{
    left: 88%;
    background-color: none;
}