@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Berkeley-blue: #1d3557;
    --cerulean: #457b9dff;
    --Electric-Blue: #0074cc;
    --non-photo-blue: #a8dadcff;
    --honeydew: #f1faeeff;
    --charcoal-gray: #aaaaaa;
    --Gold: #ff9a17;
    --red-pantone: rgb(255, 107, 119);
    --Crimson-Red: #e63946;
    --White-text: #fff;
    --Dark-text: #000011;
    --Muted-gray: #afafaf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body{
    font-family:'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header{
    position: sticky;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    width: 100%;
    color: var(--Dark-text);
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    flex-shrink: 0;
}

.logo{
    font-size: 1.6rem;
    font-weight: 600;
    font-family : 'Arial Narrow', Arial, sans-serif;
}

.logo span{
    color: var(--cerulean);
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header nav ul li{
    padding: 10px 15px;
    border-radius: 0.25rem;
    transition: all 400ms ease;
}

header nav ul li:hover{
    background-color: var(--Crimson-Red);
}

header nav ul li:hover a{
    color: var(--honeydew);
}

header nav ul li a{
    font-weight: 500;
    font-size: 1rem;
    color: var(--Dark-text);
}

.header-buttons button{
    display: none;
}


main{
    padding: 1rem;
}


.container{
    width: 800px;
    height: 500px;
    background-color: var(--cerulean);
    margin: 10px auto;
    display: flex;
    align-items: center;
    border-radius: 0.35rem;
    overflow: hidden;
    box-shadow: 0 0 8px 4px rgba(0,0,0, 0.1);
}

.container button
{   
    width: 40%;
    height: 40px;
    background-color: var(--Crimson-Red);
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container button:hover{
    background-color: var(--charcoal-gray);
}

.container .right{
    width: 40%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 2rem;
    align-self: center;
}

.sign-up-container{
    margin-bottom: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-container h1{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--honeydew);
    margin-bottom: 1rem;
    font-weight: 600;
}

.sign-up-container p{
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--Muted-gray);
    margin-bottom: 1rem;
}

.container .sign-up-btn{
    width: 65%;
    background: var(--Berkeley-blue);
}


.left{
    width: 60%;
    height: 100%;
}

.left form{
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1,
.left p{
    text-align: center;
}

.left h1{
    font-size: 2rem;
    font-weight: 500;
}

.left p{
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
}

form .input-group{
    width: 100%;
    margin-bottom: 0.5rem;
}

form .input-group label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;    
} 

form .input-group input{
    width: 100%;
    height: 35px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid #ccc;
}
form .input-group input.error{
    border: 1px solid var(--red-pantone);
}


form .input-group button{
    margin: 0.25rem 0;
    width: 100%;
}

.left form .forgot .forgot-pass{
    text-align: left;
    color: var(--Muted-gray);
}

.forgot-pass a{
    color: var(--Electric-Blue);
}

.forgot-pass a:focus,
.forgot-pass a:hover{
    text-decoration: underline;
}

#email-error,
#password-error{
    color: var(--red-pantone);
    text-align: left;
    font-size: 0.7rem;
    margin: 0;
}

.social-register {
    margin-bottom: 0.5rem;
    width: 100%;
}

.social-register .socials ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.socials ul li{
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.socials ul li a{
    color: var(--Dark-text);
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.socials ul li a i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.socials ul li:hover{
    background-color: var(--Muted-gray);
}

.socials ul li:hover a{
    color: var(--honeydew);
}

@media screen and (width < 991px) {
    header nav{
        display: none;
    }
    
        header nav.active{
            display: block;
            position: absolute;
            top: 65px;
            right: 30px;
            min-width: 50%;
            height: auto;
            background: #f9f9f9;
        
            flex-direction: column;
            padding: 1rem;
        }
    
        header nav ul{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        header nav ul li{
            text-align: center;
            width: 100%;
        }

        .header-buttons{
            display: block;
        }
    
        .header-buttons .toggle{
            display: block;
            border: none;
            background: transparent;
            font-size: 3rem;
            display: flex;
            align-items: center;
        }
    
        .toggle svg{
            width: 24px;
            height: 24px;
        }

        body{
            font-size: 97.5%;
        }

    }    
    
    
@media screen and (max-width: 800px) {
        header nav.active{
            width: 100%;
            left: 0;
            right: unset;
        }

        .container{
            flex-direction: column;
            width: 700px;
            height: auto;
        }

        .container .left{
            width: 100%;
            height: 30%;
        }

        .container .right{
            width: 100%;
            height: 50%;
        }

    }

@media screen and (max-width: 768px) {
        .container{
            width: auto;
        }
    }